@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color:rgb(34, 34, 34);
    color: white;
    font-family: 'Inter', sans-serif;
    
nav{
    min-height: 10vh;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 10rem;
    background-color: #282828;

    a{
        color: white;
        text-decoration: none;

    }
    ul{
        display: flex;
        list-style: none;
    }
    #logo{
        font-size: 1.5rem;
        // font-family: "Lobster", cursive;

    }
     li{
        padding-left: 5rem;
        position: relative;
     }
}

    .about-section{
        display: flex;
        flex-direction: row;
        height: 100vh;
        width: 100%;
        // background-color: aqua;
    

        .description{
            margin: auto;
            width: 40%;

            .title{
                font-size: 2.2rem;
                
                h2{
                    font-weight: 400;
                
                    span{
                        font-weight: 800;
                        color: aquamarine;
                    }
                }


            }
            p{
                width: 80%;
                margin: 1rem 0rem;
                font-size: 0.8rem;
            }
            button{
                font-size: 1rem;
                margin: 1rem 0rem;
                padding: 0.8rem 1.6rem;
                background-color: transparent;
                border-color: aquamarine;
                color: aquamarine;
                transition: 0.5s;
            }
            button:hover{
                color:black;
                background-color: aquamarine;
                
            }
        }

        img{
            width: 25%;
        margin: auto;
        // height: 80%;
        }
    }
    
    .services{
        // background-color: aqua;
        display: flex;
        width: 100%;
        
        .description{
            display: flex;
            flex-direction: column;
            margin: auto;
            width: 70%;

            h2{
                text-align: center;
                font-size: 2rem;
                font-weight: 300;

                span{
                    font-weight: 700;
                    color: aquamarine;
                }
            }
        .cards{
            display: flex;
            // flex-direction: row;
            flex-wrap: wrap;
            padding: 1rem;
            margin: 2rem;
            // max-width: 12rem;


            .card{
                width: 16rem;
                padding: 1rem;
                margin: 1rem;
            
            .icon{
                display: flex;
                flex-direction: row;
                align-items: center;
               
                h3{
                    padding-left: 1rem;
                }
            }
            p{
                padding-top:0.8rem;
            }
          

        }
        }
 
        
    }
    
    .image{
        margin: auto;
        width: 50%;

        img{
            width: 75%;
        }
    }



}

.faq{
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    h2{
        font-size: 2rem;
        font-weight: 400;
    
        span{
            display: block;
            font-weight: 800;
            color: aquamarine;
        }
    }
    .faq-line{
        background: #cccccc;
        height: 0.2rem;
        margin: 2rem 0rem;
        width: 100%;
    }

    .question{
        margin: 2rem 0rem;
        padding: 3rem 0rem;
        cursor: pointer ;
        h4{
            font-size: 1.3rem;
            font-weight: 700;
        }
        .answer{
            padding: 1rem 0rem;
            font-weight: 300;
        }

    }
}
}